<%- include("partials/header") %>

<h1>This is the home page</h1>
<img src="https://cdn1.tedsby.com/tb/large/storage/1/4/3/143639/cute-dog-husky-puppy-hector-by-nadya-yuditskaya.jpg" alt="">

<%- include("partials/footer") %>